body {
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
}
.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

.header-sitio {
  background-color: #03a9f4;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header-sitio {
    flex-direction: row;
    justify-content: space-between;
  }
}
nav {
  align-self: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  padding-left: 1.5rem;
}

@media (min-width: 768) {
  a {
    padding-left: 2.5rem;
  }
}
.contenedor-flex {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
aside {
  background-color: blueviolet;
  order: -1;
  padding-left: 2rem;
}
.servicios {
  display: flex;
  flex-direction: column;
}
.servicios .servicio {
  display: flex;
  padding-left: 2rem;
}

/* ------------------------------------ */
/* PONER EN UN SERVICIO ALADO DE OTRO */
/* ---------------------------------- */
@media (min-width: 768px) {
  .servicios {
    display: flex;
    flex-direction: row;
  }
  .servicios .servicio {
    flex: 1;
    justify-content: center;
     /* Centrar en texto "servicio 1" */
  }
}

/* ----------------------------------- */
/*         ---MENU---             */
/* --------------------------------- */
@media (min-width: 768px) {
  .contenedor-flex {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ----------------------------------- */
/* organizando los servicios y aside */
/* --------------------------------- */

@media (min-width: 768px) {
  .principal {
    flex: 0 1 60%;
  }
  aside {
    flex: 1;
    margin-left: 15px;
    padding-left: 2rem;
    order: unset; /* poner el orden original */

    justify-content: center; /* Centrar en texto "servicio 1" */
  }
}

aside {
  margin-bottom: 10px;
}
.servicio:nth-child(1) {
  background-color: #8e24aa;
}
.elemento1:nth-child(2) {
  background-color: darkmagenta;
}
.elemento1:nth-child(3) {
  background-color: darkolivegreen;
}
.elemento1:nth-child(4) {
  background-color: darkslategrey;
}

footer {
  background-color: #03a9f4;
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin-top: 10px;
  color: whitesmoke;
}
